In [9]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [10]:
van_df = pd.read_csv('Vancouver_Crime_Final.csv')
den_df = pd.read_csv('Denver_Crime_Final.csv')

In [11]:
van_df

,Crime-key,Crime-report-time,Crime-start-time,Crime-end-time,Crime-type,Crime-category,Crime-type-severity-index
0,300,2019-03-07 02:06:00,NaN,NaN,Break and Enter Commercial,Break and Enter Properties,3
1,301,2019-08-27 04:12:00,NaN,NaN,Break and Enter Commercial,Break and Enter Properties,3
2,302,2017-11-14 20:00:00,NaN,NaN,Break and Enter Commercial,Break and Enter Properties,3
3,303,2018-03-02 06:17:00,NaN,NaN,Break and Enter Commercial,Break and Enter Properties,3
4,304,2015-02-04 20:53:00,NaN,NaN,Break and Enter Commercial,Break and Enter Properties,3
...,...,...,...,...,...,...,...
193373,193673,2018-08-27 17:33:00,NaN,NaN,Vehicle Collision or Pedestrian Struck (with I...,Traffic,5
193374,193674,2016-04-20 19:18:00,NaN,NaN,Vehicle Collision or Pedestrian Struck (with I...,Traffic,5
193375,193675,2019-08-29 13:01:00,NaN,NaN,Vehicle Collision or Pedestrian Struck (with I...,Traffic,5
193376,193676,2018-08-04 16:22:00,NaN,NaN,Vehicle Collision or Pedestrian Struck (with I...,Traffic,5
193377,193677,2016-06-20 18:11:00,NaN,NaN,Vehicle Collision or Pedestrian Struck (with I...,Traffic,5

In [12]:
den_df

,Crime-key,Crime-report-time,Crime-start-time,Crime-end-time,Crime-type,Crime-category,Crime-type-severity-index
0,193678,2016-06-15 23:31:00,2016-06-15 23:31:00,NaN,Mischief,Mischief,4
1,193679,2018-01-29 17:53:00,2017-10-11 12:30:00,2017-10-11 16:55:00,Other Theft,Theft,1
2,193680,2016-04-26 21:02:00,2016-03-04 20:00:00,2016-04-25 08:00:00,Theft from Vehicle,Theft,1
3,193681,2018-01-30 22:29:00,2018-01-30 19:20:00,NaN,Other Theft,Theft,1
4,193682,2017-06-23 16:09:00,2017-06-22 20:53:00,NaN,Other Theft,Theft,1
...,...,...,...,...,...,...,...
462400,656078,2019-12-02 09:46:00,2019-11-30 00:01:00,2019-11-30 23:59:00,Theft from Vehicle,Theft,1
462401,656079,2019-12-04 23:17:00,2019-12-04 20:35:00,NaN,Mischief,Mischief,4
462402,656080,2019-12-28 20:27:00,2019-12-28 20:27:00,NaN,Mischief,Mischief,4
462403,656081,2019-11-17 16:52:00,2019-11-16 17:20:00,NaN,Mischief,Mischief,4
462404,656082,2019-12-27 07:57:00,2019-12-27 06:45:00,NaN,Vehicle Collision or Pedestrian Struck (Fatal ...,Traffic,5

In [13]:
van_df.shape[0] + den_df.shape[0]

655783

In [14]:
merged_crime_df = pd.concat([van_df, den_df], ignore_index=True, sort=False) # Concatenates both tables

In [8]:
merged_crime_df.to_csv('Merged_Crime_Final.csv', index=False)